
:root {
    --primary-color-green: #28CB8B;
    --green-shade-1: #43A046;
    --green-shade-2: #388E3B;
    --green-shade-3: #237D31;
    --green-shade-4: #1B5E1F;
    --green-shade-5: #103E13;

    --secondary-color-black: #263238;

    --neutral-gray: #717171;
    --neutral-D-gray: #4D4D4D;

    --neutral-white: #FFFFFF;
    --neutral-silver: #F5F7FA;
    font-family: 'Work Sans';
    padding: 10px;
    
}

.header-section {
    background-color: #FFFFFF;
    padding: 10px 60px 10px 80px;
}

.header-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.class-container {
    font-family: 'Work Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-container ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 30px 0 0;
    list-style: none;
}

.register-button {
    background-color: #43A046;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 0 25px 0 25px;
    height: 36px;
}
a {
    text-decoration: none;
    color: #717171;
    font-size: 17px;
}

.logo {
    
    height: 20px;
}
.main-section {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 10px;
    background-color: var(--neutral-silver);
}
.main-section-content {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    padding-left: 100px;
    width: 500px;

}
h1 {
    font-size: 44px;
    color: #4D4D4D;
    text-decoration: solid;
}
span {
    color: #43A046;
}
p {
    font-size: 12px;
    color: #717171;
}
image {
    width: 270px;
    height: 280px;
    
}
.illustration {
    padding-top: 67px;
}
.points {
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
    padding-bottom: 10px;
    
}
.our-clients {
    padding: 5px 100px;
    
}
.our-clients-paragraph {
    display: flex;
    color: var(--neutral-gray);
    font-size: 0.8rem;
    justify-content: center;
    margin: 10px;
    
    
    
}
h2 {
    display: flex;
    justify-content: center;
    color: var(--neutral-D-gray);
    font-size: 31px;
    margin: 20px;
    
}



.logos {
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding: 0 100px 0 100px;
    
}
.manage-text {
    display: flex;
    justify-content: center;
    text-align: center;
    
    font-size: 25px;
    padding: 28px 150px;
}
.manage {
    display: flex;
    color: var(--neutral-gray);
    font-size: 0.8rem;
    justify-content: center;
    margin: 10px;
}


